*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(images//bg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  min-height: 100vh;
  font-family: 'Open Sans'
  sans-serif;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  height: 100vh;
}
.wrapper {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 0;
  margin: 0 3rem;
}

.header img {
  width: 18rem;
  padding-bottom: 1rem;
  border-top: 2px dashed hsl(300, 69%, 71%);
}

.main {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hero-text h1 {
  color: #fff;
  font-size: 3.7rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.hero-text p {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.btn {
  font-weight: 500;
  font-size: 2rem;
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  padding: 1.3rem 5rem;
  border-radius: 2.5rem;
  box-shadow: 0 8px 17px -8px rgba(0, 0, 0, .8);
  transition: all 0.5s ease-out;
}

.btn:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}

.social {
  text-align: right;
}

.social a ion-icon {
  color: #fff;
  font-size: 2rem;
  position: relative;
  transition: all 0.5s ease;
}

.social a:not(:first-child) {
  margin-left: 2rem;
}

.social a ion-icon:hover {
   color: hsl(300, 69%, 71%);
}

@media only screen and (max-width:1440px){
  .hero-img img {
    width: 100%;
  }
}

@media only screen and (max-width:768px){
  .main {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    font-size: 2.4rem;
  }

  .social {
    text-align: center;
    margin-top: 4rem;
  }

  .btn {
    padding: 1rem 7rem;
  }
}
